    

  .galleries {
    margin-left: 275px;
  }
  div.gallery {
  margin: 5px;
  width: 260px;
  float: left;
  margin-top: 80px;
  margin-left: 40px;
}

div.gallery:hover {
  background: #4B4B9A;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 10px;
  text-align: center;
}